<footer>
  <div class="social">
    <div>
      <fa-icon [icon]="faTwitter"></fa-icon>
    </div>
    <div>
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </div>
    <div>
      <fa-icon [icon]="faFacebook"></fa-icon>
    </div>
  </div>
  <div class="bottom-nav">
    <ul>
      <li><a href="#">About</a></li>
      <li>/</li>
      <li><a href="#">For Business</a></li>
      <li>/</li>
      <li><a href="#">Suggestions</a></li>
      <li>/</li>
      <li><a href="#">Help & FAQs</a></li>
      <li>/</li>
      <li><a href="#">Contacts</a></li>
      <li>/</li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </div>
  <div class="copyright">
    <p>Copyright 2013 company name inc.</p><br />
    <p>Privacy / Terms</p>
  </div>
</footer>
