div {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

div .nav-top .logo {
  font-size: 30px;
  font-weight: 200;
  margin-right: 20px;
  display: inline-block;
  color: #f9d5bb;
  cursor: pointer;
}

div .nav-top .logo span {
  opacity: 0.5;
}

div .nav-top .search input[type="search"] {
  width: 40%;
  height: 30px;
  color: #943c4a;
  font-weight: 700;
  padding-left: 10px;
  border: 1px solid #682835;
  background-color: #f1dccc;
}

div .nav-top .search fa-icon {
  margin-left: -20px;
  margin-right: 20px;
  color: #943c4a;
  font-size: 10px;
}

div .nav-top .upload fa-icon {
  color: #943c4a;
  margin-left: -70px;
  font-size: 10px;
  margin-right: 70px;
  background-color: #f1dccc;
}

div .nav-top .upload input[type="button"] {
  background-color: #fff;
  width: 10%;
  height: 30px;
  color: #943c4a;
  font-size: 11px;
  border: 1px solid #682835;
  background-color: #f1dccc;
}

div .nav-top .profile fa-icon {
  font-size: 10px;
  padding: 8px 12px;
  padding-top: 9px;
  margin-right: 10px;
  background-color: #f1dccc;
  color: #943c4a;
  border: 1px solid #682835;
  cursor: pointer;
}

div .nav-top .profile span {
  color: #f1dccc;
  cursor: pointer;
}

div .nav-top .profile span span {
  font-size: 85%;
  color: #f1dccc;
}

@media (max-width: 728px) {
  div {
    width: 100%;
    margin-top: 20px;
  }

  div .nav-top {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  div .nav-top .logo {
    margin: 0 auto;
    padding: 8px;
    font-size: 48px;
  }

  span.center {
    margin-left: 12px;
  }

  div .nav-top .search input[type="search"] {
    width: 60%;
    height: 30px;
  }

  div .nav-top .upload input[type="button"] {
    width: 30%;
  }

  div .nav-top .upload fa-icon {
    margin-left: -85px;
    margin-right: 70px;
  }

  div .nav-top .profile {
    position: absolute;
    right: 10px;
    top: -15px;
    display: flex;
    align-self: flex-end;
  }

  div .nav-top .profile span,
  div .nav-top .profile span span {
    display: flex;
    align-items: center;
  }
}
