<div>
  <nav class="nav-top">
    <h1 class="logo">Social<span>Network</span></h1>
    <span class="center">
      <span class="search">
        <input type="search" placeholder="Find..." />
        <fa-icon [icon]="faSearch"></fa-icon>
      </span>
      <span class="upload">
        <input type="button" value="Upload" />
        <fa-icon [icon]="faLongArrowAltUp"></fa-icon>
      </span>
    </span>
    <span class="profile">
      <fa-icon [icon]="faUser"></fa-icon>
      <span>Waseem <span>Arshad</span></span>
    </span>
  </nav>
</div>
