<div class="nav">
  <ul>
    <li><a href="#">Videos</a></li>
    <li class='separator'>/</li>
    <li><a href="#">People</a></li>
    <li class='separator'>/</li>
    <li><a href="#">Documents</a></li>
    <li class='separator'>/</li>
    <li><a href="#">Events</a></li>
    <li class='separator'>/</li>
    <li><a href="#">Communities</a></li>
    <li class='separator'>/</li>
    <li><a href="#">Favorites</a></li>
    <li class='separator'>/</li>
    <li><a href="#">Channels</a></li>
  </ul>
</div>
